body {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper--container {
  display: flex;
  justify-content: center;
  box-shadow: 1px;
  
/*  temporary*/
  border: 1px solid blue;
}

.wrapper--left,
.wrapper--right {
  width: 50%;
  padding: 20px;
  /*  temporary*/
  border: 1px solid lightblue;
}

.cv--photo {
margin-top: 90px;
position: relative;
left: 50%;
width: 50%;
height: 50%;
transform: translateX(-50%);
}

.personal--data,
.personal--data__surname,
.occupation {
  text-align: center;
}

ul {
list-style: none;
  
}


h2.additional--info {
  
  display: flex;
	flex-basis: 100%;
align-items:center;
  vertical-align:top;
	margin: 8px 0px;
  margin-left: 80px;
  position: relative;
  
/*  display: inline-block;
  width: 100%;

  box-sizing: border-box;
  position: relative;
vertical-align: middle;

overflow: hidden;
  padding-left: 80px;
  padding-right: 10px;
*/
}

h2.additional--info::before {

background-image: url("../img/profileicon.png");
background-size: 50%;
background-repeat: no-repeat;
content: "";
width: 148px;
height: 143px;
  margin: 0px 0px;
 position: absolute;
  left: -80px;
  margin-right: auto;
  transform: translateY(25%)
  
}

h2.additional--info::after {

  content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
    
}