include ../sharred/sectionHeader.pug
mixin education()
  section.education
    +sectionHeader('education', './img/educationicon.png')
    ul.education__list
      li
        h3.education__header master degree
        p.education__date // Feb2011 - Jun 2014
        h4.education__university university name
        p.education__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      li
        h3.education__header master degree
        p.education__date // Feb2011 - Jun 2014
        h4.education__university university name
        p.education__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      li
        h3.education__header master degree
        p.education__date // Feb2011 - Jun 2014
        h4.education__university university name
        p.education__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.      
      li
        h3.education__header master degree
        p.education__date // Feb2011 - Jun 2014
        h4.education__university university name
        p.education__description
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.