component-education()
 .education
    margin-top: 4.7rem
    &__ico
        margin-left: -0.16rem
        margin-right: 0.5rem
    &__list
        margin-left: 3.2rem
        list-style: none;
    &__header 
        color: $color
        margin-top: 1.6rem
        font-size: 1.8rem
        margin-left: -1.3rem
        letter-spacing: -0.07rem
        text-transform: uppercase
        display inline-block
    &__description
        margin-top: 0.3rem;
        margin-left: 0.1rem
        margin-bottom: -1rem
        
    &__date
        display inline
        font-size: 1.8rem
        letter-spacing: -0.03rem
        margin-left: 0.7rem
    &__university
          margin-top: 0.1rem
          text-size(1.62rem, 200)
          letter-spacing: 0.02rem
          text-transform: uppercase
    & li:before
            position relative
            content ' '
            left: -2.6rem;
            top: -0.5rem
            width: 0rem; 
            height: 0rem;
            font-size: 0;
            border: 0.65rem solid #000000; 
            border-radius: 50% 50% 50% 50%;  