mixin personal_data(n, s, o)
    section.personalData
        img.personalData__photo(src='./img/Photo.png', alt='CV Photo', width='359')
        h2.personalData__name=n
        p.personalData__surname=s
        p.personalData__occupation=o