components-personal_data()
 .personalData
    padding-left: 3%
    text-align: center;
    
    &__photo
      padding-top: 5.7rem
      width: 57%

    &__name
      padding-top: 1.4rem
      text-size(3.5rem, 200)
      text-transform: uppercase;
      font-family "MyriadPro Light", Arial, sans-serif;

    &__surname
      text-size(4rem, 700)
      text-transform: uppercase;
      margin-top: -1.54rem;

    &__occupation
      text-size(1.55rem, 700)
      text-transform: uppercase;
      margin-bottom: 4.9rem;