component-expeirence()
 .expeirence
    margin-top: 4.3rem
    &__ico
      margin-left: -0.16rem
      margin-right: 0.5rem
    &__list
      margin-left: 3.2rem
      margin-top: 2.55rem
      list-style: none
      // list-style-image: url(images/book.png);
    &__company 
        color: $color
        margin-left: -1.3rem
        font-size: 1.8rem
        letter-spacing: -0.07rem
        text-transform: uppercase
        display inline-block
    &__detail
        margin-top: 0.3rem;
        margin-left: 0.1rem
        margin-bottom: 0.60rem
    &__date
        display inline
        font-size: 1.8rem
        letter-spacing: -0.03rem
        margin-left: 0.7rem
    &__jobTitle
        margin-top: 0.1rem
        text-size(1.62rem, 200)
        letter-spacing: 0.02rem
        text-transform: uppercase
    & li:before
        position relative
        content ' '
        left: -2.6rem;
        top: -0.5rem
        width: 0rem; 
        height: 0rem;
        font-size: 0;
        border: 0.65rem solid #000000; 
        border-radius: 50% 50% 50% 50%;