include ../sharred/sectionHeader.pug
mixin expeirence()  
  section.expeirence
          +sectionHeader('experience', './img/expeirenceicon.png')
          ul.expeirence__list
            li
              h3.expeirence__company company name
              p.expeirence__date // Feb2011 - Jun 2014
              h4.expeirence__jobTitle your job here
              p.expeirence__detail
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li
              h3.expeirence__company company name
              p.expeirence__date // Feb2011 - Jun 2014
              h4.expeirence__jobTitle your job here
              p.expeirence__detail
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            li
              h3.expeirence__company company name
              p.expeirence__date // Feb2011 - Jun 2014
              h4.expeirence__jobTitle your job here
              p.expeirence__detail
                | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.