component-skills()
 .skills
    &__list
        list-style: none
        text-align: center
        text-size(1.65rem, normal)
        text-transform: uppercase
        margin-top: 1.5rem
    &__level
        margin-top: -0.50rem
        margin-left: -0.3rem
        margin-bottom: 0.96rem
 span.pointed
    display inline-block
    font-size: 0
    width: 0rem; 
    height: 0rem;
    font-size: 0;
    border: 0.65rem solid $color; 
    border-radius: 50% 50% 50% 50%;
    margin 0.25rem

 span.unpointed
    display inline-block
    width: 80%
    font-size: 0
    width: 0rem; 
    height: 0rem;
    font-size: 0;
    border: 0.65rem solid #e7e7e7; 
    border-radius: 50% 50% 50% 50%;
    margin 0.25rem