mixin skill(name, points)
  li=name
  div.skills__level
    -var n = 0;
    while n < points
     span.pointed= n++
    -var e = 0
    -var m = 12-points
    while e < m
     span.unpointed= e++

mixin skills()
  section.skills
    .section__wrapper
      img.section__ico.skills__ico(src='./img/skillsicon.png', alt='CV Photo', width='116')
      .section__headerWrapper
        h2.section__title skills
    ul.skills__list
      +skill('creative', 9)
      +skill('teamwork', 8)
      +skill('innovate', 8)
      +skill('communication', 8)

