component-media()
  @media only screen and (max-width: 320px) {
  html {
    font-size: 8px;
    min-width: 320px;
  }
  
  .wrapper {
    flex-wrap: wrap;  
  }
  .col-left,
  .col-right {
    width: 100%;
    padding-left: 0%;
    margin-right: 0%;
  }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 639px) {
  html {
    font-size: 9px;
  }
  
  .wrapper {
    flex-wrap: wrap;  
  }
  .col-left,
  .col-right {
    width: 100%;
    padding-left: 0%;
    margin-right: 0%;
  }
  }
  @media only screen and (min-width: 640px) and (max-width: 768px) {
  html {
    font-size: 8px;
  }
  
  .col-left,
  .col-right {
    width: 100%;
    padding-left: 0%;
    margin-right: 0%;
  }
  }
  @media only screen and (min-width: 769px) and (max-width: 991px) {
  html {
    font-size: 9px;
  }
  
  .col-left,
  .col-right {
    width: 100%;
    padding-left: 0%;
    margin-right: 0%;
  }
  }
  @media only screen and (min-width: 992px) and (max-width: 1119px) {
  html {
    font-size: 10px;
  }
  
  .col-left,
  .col-right {
    width: 100%;
    padding-left: 0%;
    margin-right: 0%;
  }
  }
  @media only screen and (min-width: 1120px) and (max-width: 1149px) {
  html {
    font-size: 12px;
  }

  .col-left,
  .col-right {
    width: 50%;
    padding-left: 0%;
    margin-right: 0%;
  }
  }
  @media only screen and (min-width: 1150px) and (max-width: 1279px) {
  html {
    font-size: 14px;
  }

  .col-left,
  .col-right {
    width: 50%;
    padding-left: 0%;
    margin-right: 0%;
  }
  }
  @media only screen and (min-width: 1280px) and (max-width: 1479px) {
  html {
    font-size: 16px;
  }

  .col-left,
  .col-right {
    width: 50%;
    padding-left: 0%;
    margin-right: 0%;
  }
  }
  @media only screen and (min-width: 1480px) and (max-width: 1599px) {
  html {
    font-size: 18px;
  }

  }
  @media only screen and (min-width: 1600px) and (max-width: 1700px) {
  html {
    font-size: 20px;
  }
  }