mixin education()
  section.education
    .section__wrapper
      img.section__ico.education__ico(src='./img/educationicon.png', alt='CV Photo', width='116')
      .section__headerWrapper
        h2.section__title education
    ul.education__list
      li
        h3 master degree
        p.education__date // Feb2011 - Jun 2014
        h4 university name
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      li
        h3 master degree
        p.education__date // Feb2011 - Jun 2014
        h4 university name
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
      li
        h3 master degree
        p.education__date // Feb2011 - Jun 2014
        h4 university name
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.      
      li
        h3 master degree
        p.education__date // Feb2011 - Jun 2014
        h4 university name
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.