mixin education()
  section.education
    .section__wrapper
      img.section__ico.education__ico(src='./img/PhoneIcon.png', alt='CV Photo', width='116')
      .sectionHeader__wrapper
        h2.section__title education
    ul.education__list
      li
        h3 master degree
        p // Feb2011 - Jun 2014
        h4 university name
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
      li
        h3 master degree
        p // Feb2011 - Jun 2014
        h4 university name
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
      li
        h3 master degree
        p // Feb2011 - Jun 2014
        h4 university name
        p.details
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
      li
        h3 master degree
        p // Feb2011 - Jun 2014
        h4 university name
        p.details
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.