mixin skill(name, points)
  li=name
  div(class='skills_points_'+ points)

mixin skills()
  section.skills
    .section__wrapper
      img.section__ico.skills__ico(src='./img/skillsicon.png', alt='CV Photo', width='116')
      .sectionHeader__wrapper
        h2.section__title skills
    ul.skills__list
      +skill('creative', 9)
      +skill('teamwork', 8)
      +skill('innovate', 8)
      +skill('communication', 8)

