mixin softwareLevel(name, points)
 -var pointsleft= 100 - points;
  li= name
  .software__column
   .software__columnLevel(style='background: linear-gradient(to right, #006cb4 ' + points + '%, #e7e7e7 ' + pointsleft + '%)')
  //- div(class='skills_points_'+ points)
  //- (style="background: linear-gradient(to right, #3d6cb0 50%, #e6e6e6 50%)")

mixin software()
  section.software
          .section__wrapper
            img.section__ico.software__ico(src='./img/SOFTWAREICON.png', alt='CV Photo', width='116')
            .section__headerWrapper
              h2.section__title software
          .software__innerWrapper
              ul.software__list
                +softwareLevel('photoshop', 90)
                +softwareLevel('illustrator', 70)
                +softwareLevel('indesign', 60)
              ul.software__list
                +softwareLevel('dreamweaver', 80)
                +softwareLevel('after effects', 60)
                +softwareLevel('html & css3', 90)