mixin software()
  section.software
          .section__wrapper
            img.section__ico.software__ico(src='./img/SOFTWAREICON.png', alt='CV Photo', width='116')
            .section__headerWrapper
              h2.section__title software
          .software__innerWrapper
              ul.software__list
                li photoshop
                li illustrator
                li indesign
              ul.software__list
                li dreamviewer
                li after effects
                li html & css3