component-contact()
.contact
    margin-top: 2.81rem;
    &__list
        margin-top: 0.8rem
        list-style: none;
        font-size: 1.33rem;
        margin-bottom: 53px;
    &__details
            display: inline
    &__header 
        font-size: 1.31rem;
        display: inline-block;
        text-transform: uppercase;
        color:@color;
        width: 30%;
        margin-top: 1.26rem;
        margin-bottom: 0.63rem;