mixin contact(address, email, phone, website)  
  section.contact
    .section__wrapper
      img.section__ico.contact__ico(src='./img/PhoneIcon.png', alt='CV Photo', width='116')
      .section__headerWrapper
        h2.section__title contact
    ul.contact__list
      li
        h3.contact__header address
        p.contact__details=address
      li
        h3.contact__header e-mail
        p.contact__details=email
      li
        h3.contact__header phone
        p.contact__details=phone
      li
        h3.contact__header website
        p.contact__details=website