include ../sharred/sectionHeader.pug
mixin contact(address, email, phone, website)  
  section.contact
    +sectionHeader('contact', './img/PhoneIcon.png')
    
    ul.contact__list
      li
        h3.contact__header address
        p.contact__details=address
      li
        h3.contact__header e-mail
        p.contact__details=email
      li
        h3.contact__header phone
        p.contact__details=phone
      li
        h3.contact__header website
        p.contact__details=website