component-software()
 .software
    margin-top: 3.2rem
    &__ico
        margin-left: -0.16rem
        margin-right: 0.5rem
    &__innerWrapper 
     display: flex
     justify-content: space-between
    &__list
        list-style: none
        text-size(1.65rem, normal)
        text-transform: uppercase
        display inline-block
        width: 44%
        margin-left: 0.31rem
        li
          margin-top: 1.47rem
          margin-bottom: 0.9rem 
    // &__column
    //   height 1.43rem
    //   // background:  #e7e7e7
    //   // width: 100%
    &__columnLevel
      position relative
      height 1.43rem
      // background:  $color
      // width: 60%