include ./components/personal_data/personal_data.pug
include ./components/profile/profile.pug
include ./components/contact/contact.pug
include ./components/skills/skills.pug
include ./components/education/education.pug
include ./components/expeirence/expeirence.pug
include ./components/software/software.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width")
    title CV sample
  body
    h1.visually-hidden CV sample
    .wrapper
      .col-left
        +personal_data('name here', 'surname', 'graphic designer')
        +profile()
        +contact('Main Street, City.','contact@domain.com','555-555-555', 'www.yourweb.com')
        +skills()
      .col-right
        +education()
        +expeirence()
        +software()