doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    //- link(rel='stylesheet', href='/css/styles.css')
    title CV sample
  body
    h1.visually-hidden CV sample
    .wrapper
      .col-left
        section.personalData
            img.personalData__photo(src='./img/Photo.png', alt='CV Photo', width='359')
            h2.personalData__name name here
            p.personalData__surname surname
            p.personalData__occupation graphic designer
        section.profile
          .section__wrapper
            img.section__ico.profile__ico(src='./img/PROFILEICON.png', alt='CV Photo', width='116')
            .sectionHeader__wrapper
              h2.section__title Profile
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu 
            strong
              | pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.
        section.contact
          .section__wrapper
            img.section__ico.contact__ico(src='./img/PhoneIcon.png', alt='CV Photo', width='116')
            .sectionHeader__wrapper
              h2.section__title contact
          ul.contact__list
            li
              h3 address
              |  Main Sreet, City
            li
              h3 e-mail
              |  contact@domain.com
            li
              h3 phone
              |  555-555-555
            li
              h3 website
              |  www.yourweb.com
        section.skills
          .section__wrapper
            img.section__ico.skills__ico(src='./img/PhoneIcon.png', alt='CV Photo', width='116')
            .sectionHeader__wrapper
              h2.section__title skills
          ul.skills__list
            li creative
            li teamwork
            li innovate
            li communication
      .col-right
        section.education
          .section__wrapper
            img.section__ico.education__ico(src='./img/PhoneIcon.png', alt='CV Photo', width='116')
            .sectionHeader__wrapper
              h2.section__title education
          ul.education__list
            li
              h3 master degree
              p // Feb2011 - Jun 2014
              h4 university name
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
            li
              h3 master degree
              p // Feb2011 - Jun 2014
              h4 university name
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
            li
              h3 master degree
              p // Feb2011 - Jun 2014
              h4 university name
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
            li
              h3 master degree
              p // Feb2011 - Jun 2014
              h4 university name
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
        section.expierence
          .section__wrapper
            img.section__ico.expierence__ico(src='./img/PhoneIcon.png', alt='CV Photo', width='116')
            .sectionHeader__wrapper
              h2.section__title expierence
          ul.expierence__list
            li
              h3 company name
              p // Feb2011 - Jun 2014
              h4 you job here
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
            li
              h3 company name
              p // Feb2011 - Jun 2014
              h4 you job here
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
            li
              h3 company name
              p // Feb2011 - Jun 2014
              h4 you job here
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eius ratione, qui laboriosam voluptatum unde eaque sapiente, temporibus mollitia! Cum libero corporis quibusdam tempore dolorem, nulla sint quod ipsum excepturi.
        section.software
          .section__wrapper
            img.section__ico.software__ico(src='./img/PhoneIcon.png', alt='CV Photo', width='116')
            .sectionHeader__wrapper
              h2.section__title software
          ul.software__list
            li photoshop
            li illustrator
            li indesign
          ul.software__list
            li dreamviewer
            li after effects
            li html & css3

    //-     svg(width='150', height='140')
    //-       rect(r='230', width='300', height='100%', fill='white')
    //-       circle(cx='70', cy='70', r='70', stroke='#3D6CB0', stroke-width='1', fill='white')
    //-       circle(cx='70', cy='70', r='65', fill='#3D6CB0')
    //- h1.test fgjhdfjhfgjhsdfg
    //- script(src='./dist/main.js')
