include ./pug/personal_data.pug
include ./pug/profile.pug
include ./pug/contact.pug
include ./pug/skills.pug
include ./pug/education.pug
include ./pug/expierence.pug
include ./pug/software.pug

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width")
    //- link(rel='stylesheet', href='/css/styles.css')
    title CV sample
  body
    h1.visually-hidden CV sample
    .wrapper
      .col-left
        +personal_data('name here', 'surname', 'graphic designer')
        +profile()
        +contact('Main Street, City.','contact@domain.com','555-555-555', 'www.yourweb.com')
        +skills()
      .col-right
        +education()
        +expierence()
        +software()