mixin sectionHeader(name, imgSource)
 .sectionHeader__wrapper
      img.sectionHeader__ico(class= name+'__ico', src= imgSource, alt= name + 'icon', width='116')
      .sectionHeader__headerWrapper
        h2.sectionHeader__title= name